* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #21252b;
    color: #9da5b4;
}

.header{
    display:flex;
    background-color: #282c34;
    height: 35px;
    align-items:center;
}

.header img{
    width: 20px;
    height: 20px;
    margin-left: 14px;
}

.header ul{
    height: 34px;
    margin-top: 15px;
    margin-left: 22px;
}

.header ul li{
    display: inline;
    padding: 8px;
    
}

.header ul li:hover{
    background-color: #383b41;
}
